.projects {
  padding-top: 35px;
  padding-bottom: 60px;

  &__content {
    padding: 30px 10px;
    border-radius: 5px;
    background: #0D0E17;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 50px;

    @include big-desktop {
      justify-content: center;
    }

    @include mobile {
      justify-content: center;
    }
  }

  &__title {
    position: relative;
    margin: 0;
    margin-bottom: 30px;
    padding-left: 23px;
    color: #F0F0F0;
    font-size: 40px;
    font-weight: 600;
    @include tablet
    {
      color: #F0F0F0;
      font-family: Rubik;
      font-size: 32px;
      font-style: normal;
      margin-left: 3px;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 85px;
    }


    &::before {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      left: 0;
      top: 18px;
      background-image: url(../img/point.svg);
    }
    @include mobile
    {
      color: #F0F0F0;
      font-family: Rubik;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 35px;
      &::before {
        top: 9px;
      }
    }
  }

  &__item {
    max-width: 490px;
    width: 100%;
    border-radius: 5px;
    flex-grow: 1;
    cursor: pointer;

    @include big-desktop {
      max-width: 450px;
      flex-basis: 300px;
    }

    @include tablet {
      width: 370px;
      flex-basis: 280px;
    }

    @include small-tablet {
      max-width: 370px;
      flex-basis: 250px;
    }
  }

  &__inside {
    position: relative;
    overflow: hidden;
    border-radius: 10px;

    &:hover>.projects__inner {
      bottom: 20px;
      left: 20px;

      @include tablet {
        left: 5px;
        bottom: 5px;
      }
    }
    

    @include small-tablet {
      >.projects__inner
      {
        left: 5px !important;
        bottom: 10px !important;
      }
    }

    &:hover .projects__img {
      transform: scale(1.2);
    }
  }

  &__inner {
    max-width: 450px;
    width: 100%;
    padding: 20px;
    position: absolute;
    bottom: -155px;
    left: 20px;
    border-radius: 5px;
    background-color: rgba(16, 17, 24, 1);
    transition: bottom .5s ease-in-out;

    @include big-desktop {
      max-width: 90%;
    }

    @include tablet {
      max-width: 97.5%;
      left: 5px;
      bottom: -164px;
    }

    @include small-tablet
    {
      .projects__link
      {
        display: none;
      }
      .projects__list 
      {
        margin-bottom: 0;
      }
    }
    @include mobile
    {
      .projects__link
      {
        display: inline-flex;
        border: none;
        color: #DB9641;
font-family: Rubik;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
        position: relative;
        left: 100%;
        transform: translateX(-100%);
        padding: 0;
        
img
{
  width: 8px;
  margin-left: 7px;
  margin-bottom: 4px;
}
      }
      .projects__list 
      {
        margin-bottom: 20px;
      }
    }

    @include mobile {
      max-width: 97%;
      left: 5px;
    }
  }

  &__list {
    margin-bottom: 20px;
  }

  &__text {
    color: #F0F0F0;
    font-size: 14px;
    font-weight: 400;
    max-width: 390px;

    &--active {
      padding-top: 450px;

      @include tablet {
        padding-top: 300px;
      }

      @include mobile {
        padding-top: 150px;
      }
    }

    @include mobile {
      font-size: 12px;

    }
  }

  &__link {
    position: relative;
    display: flex;
    max-width: 140px;
    margin: 0 auto;
    margin-right: 0;
    align-items: flex-end;
    padding: 8px 38px 8px 21px;
    color: #DB9641;
    font-size: 16px;
    font-weight: 500;
    text-align: right;
    border-radius: 10px;
    border: .5px solid transparent;
    border-image: linear-gradient(320deg, rgba(219, 150, 65, 1) 48%, rgba(16, 17, 24, 1) 90%);
    -moz-border-image: -moz-linear-gradient(320deg, rgba(219, 150, 65, 1) 48%, rgba(16, 17, 24, 1) 90%);
    -webkit-border-image: -webkit-linear-gradient(320deg, rgba(219, 150, 65, 1) 48%, rgba(16, 17, 24, 1) 90%);
    border-image-slice: 1;
    transition: all .5s ease-in-out;


    @include tablet {

      margin: 0 auto;
      margin-right: 0;
    }

    @include mobile {
      font-size: 14px;
      margin: 0 auto;
      margin-right: 0;
      max-width: 120px;
    }

    transition: all .5s ease-in-out;

    &:hover {
      -webkit-border-image: -webkit-linear-gradient(120deg, rgb(219, 150, 65) 48%, rgb(16, 17, 24) 90%);
      border-image-slice: 1;
    }

    &:hover>.projects__arrow {
      transition: all .4s ease-in-out;
      transform: rotate(90deg);
    }

  }

  &__arrow {
    transition: all .4s ease-in-out;
    transform: rotate(0deg);
    margin-left: 10px;
    margin-bottom: 5px;
  }

  &__li {
    display: flex;
    justify-content: space-between;


    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }

  &__img {
    border-radius: 10px;
    transition: transform .5s;
    max-width: 550px;
    width: 100%;
  }

  &__descr {
    max-width: 317px;
    margin: 0;
    margin-top: 20px;
    color: #F0F0F0;
    font-size: 20px;
    font-weight: 500;

    @include small-tablet
    {
      color: #F0F0F0;
      font-family: Rubik;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-top: 15px;
      margin-bottom: 5px;
      
    }
    @include mobile {
      display: none;
    }
    
  }
  
  .tablet-link
  {
    display: none;
    border: 0px;
    padding: 0;
    color: #DB9641;
font-family: Rubik;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
img
{
  width: 8px;
  margin-left: 7px;
  margin-bottom: 4px;
}
  }
  @include small-tablet
  {
    .tablet-link
    {
      display: inline-flex;
    }
  }
  @include mobile
  {
    .tablet-link
    {
      display: none;
    }
  }
}
