.see {
  padding-bottom: 70px;

  @include mobile {
    padding-bottom: 60px;
  }

  &__svg {
    width: 12px;
    height: 12px;
    z-index: 1;

    @include small-tablet {
      width: 8px;
      height: 8px;
    }

    @include mobile {
      width: 6px;
      height: 6px;
    }

    &--right {
      transform: rotate(90deg);
    }
  }

  &__btns {
    max-width: 300px;
    position: relative;
    left: -20px;
    top: -30px;

    @include small-tablet {
      top: -10px;
    }

    &--bot {
      left: 10px;
      top: 30px;

      @include small-tablet {
        left: -15px;
        top: 15px;
      }
    }

    &--right {
      left: -25px;
      top: 30px;

      @include small-tablet {
        top: 10px;
      }
    }
  }

  &__size {
    display: block;
    top: 60px;
    left: -30px;
    max-width: 300px;

    @include small-tablet {
      top: 30px;
    }
  }

  &__overlay {
    position: relative;
    display: flex;
    right: -30px;




    &:hover>.see__icon-right {
      transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
      transform-style: preserve-3d;
    }

    &:hover>.see__btn {
      transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
      transform-style: preserve-3d;
    }

  }

  &__btn {
    padding: 6px 10px;
    border-radius: 2px;
    background-color: #F0F0F0;
    color: #1F1F1F;
    font-size: 14px;
    font-weight: 400;
    line-height: 170%;
    transition: all .4s ease-in-out;
    transform: translate3d(0rem, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    z-index: 10;

    @include small-tablet {
      font-size: 12px;
      padding: 2px 10px;
      height: 24px;
    }

    @include mobile {
      font-size: 8px;
      height: 16px;
      padding: 3px 5px;
    }

  }

  &__icon-left {
    margin-right: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    background: #F0F0F0;
    width: 40px;
    height: 36px;
    transition: all .4s ease-in-out;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;

    @include small-tablet {
      height: 24px;
      width: 24px;
    }

    @include mobile {
      width: 16px;
      height: 15px;
    }
  }

  &__icon-right {
    margin-left: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    background: #F0F0F0;
    width: 40px;
    height: 36px;
    transition: all .4s ease-in;
    transform: translate3d(-32px, 0px, 0px) scale3d(0, 0, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;

    @include small-tablet {
      height: 24px;
      width: 24px;
    }

    @include mobile {
      width: 16px;
      height: 16px;
    }
  }

  &__inside {
    position: relative;
    overflow: hidden;

    &:hover>.see__inner {
      bottom: 20px;
      left: 20px;
    }

    &:hover .see__img {
      transform: scale(1.2);
    }
  }

  &__title {
    position: relative;
    margin: 0;
    margin-bottom: 30px;
    padding-left: 23px;
    color: #F0F0F0;
    font-size: 40px;
    font-weight: 600;

    &::before {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      left: 0;
      top: 18px;
      background-image: url(../img/point.svg);

      @include mobile {
        top: 8px;
      }
    }

    @include small-tablet {
      font-size: 32px;
      margin-bottom: 10px;

    }

    @include mobile {
      font-size: 22px;
    }
  }

  &__content {
    display: flex;
    border-radius: 5px;
    background: #0D0E17;
    padding: 70px 20px 40px 20px;
    flex-wrap: wrap;

    @include tablet {
      padding-top: 40px;
      padding: 30px 27px 40px 10px;
      gap: 40px;
    }
  }

  &__box {
    max-width: 600px;

    &:first-child {
      margin-right: 60px;

      @include tablet {
        margin-left: 0;
        margin-right: 47px !important;
      }
    }

    &:last-child {
      margin-left: 30px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      @include mobile
      {
        margin-left: 0px !important;
      }
    }
  }

  &__descr {
    display: inline-block;
    margin: 0;
    margin-bottom: 123px;
    color: #F0F0F0;
    font-size: 20px;
    font-weight: 500;

    @include small-tablet {
      font-size: 16px;
      margin-bottom: 53px;
    }

    @include mobile {
      font-size: 12px;
    }
  }

  &__text {
    margin: 0;
    max-width: 435px;
    color: #F0F0F0;
    font-size: 16px;
    font-weight: 400;

    @include tablet
    {
      max-width: none;
      min-width: 100%;
    }
    @include small-tablet {
      font-size: 14px;
    }
  }

  &__wrapper {
    position: relative;
    margin-top: 50px;
    left: -25px;
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 20px;
    color: #F0F0F0;
    font-size: 20px;
    font-weight: 500;
    text-decoration: underline;

    @include small-tablet {
      font-size: 16px;
    }
  }

  &__item {
    margin-bottom: 5px;
    display: flex;
    gap: 50px;
    @include mobile
    {
      gap: 0;
      span
      {
        min-width: 100px;
        width: 100px;
      }
    }    
  }

  &__map {
    position: relative;
    margin: 0 auto;
    right: 20px;
  }


  &__point {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    right: 0;

    &:nth-child(2) {
      right: 4%;
      top: 11%;
    }

    &:nth-child(3) {
      right: -6%;
      top: 44%;

    }

    &:nth-child(4) {
      right: 64%;
      top: 20%;
      flex-direction: row-reverse;
    }

    &:nth-child(5) {
      right: 56%;
      top: 60%;
      flex-direction: row-reverse;
    }

    &:nth-child(6) {
      right: 36%;
      top: 80%;
      flex-direction: row-reverse;
    }

    &:nth-child(7) {
      right: 8%;
      top: 48%;
    }

    &:nth-child(8) {
      right: 8%;
      top: 68%;
    }
  }

  &__ellips {
    width: 12px;
    height: 12px;
    background-color: rgba(219, 150, 65, 1);
    border-radius: 50%;

    @include mobile {
      width: 6px;
      height: 6px;
    }
  }

  &__map-text {
    position: absolute;
    color: #DB9641;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    left: 0;
    bottom: 0;
    margin-left: 50px;
    @include mobile
    {
      margin-left: 20px;
    }
  }

}
