.video {
  padding-bottom: 180px;
  height: auto;
  padding-top: 190px;
  &__box {
    position: relative;
    max-width: 1540px;
  }

  &__video {
    max-width: 1540px;
    width: 100%;
  }

  &__play {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    opacity: 1;
    visibility: visible;
    transition: all .3s ease-in-out;

    &--played {
      opacity: 0;
      visibility: hidden;
    }

    @include mobile {
      flex-direction: column-reverse;
    }
  }

  &__svg {
    @include small-tablet {
      width: 40px;
      height: 40px;
    }

    @include mobile {
      width: 50px;
      height: 50px;
    }
  }

  &__name {
    margin-right: 30px;
    color: #F0F0F0;
    font-size: 40px;
    font-weight: 600;

    @include small-tablet {
      font-size: 22px;
    }

    @include mobile {
      margin: 0;
      max-width: 200px;
      text-align: center;
    }
  }
}
