<section class="audit">
  <div class="container">
    <div class="audit__top">
      <h2 class="audit__title">
        Аудит дизайн-проекта
      </h2>
      <div class="audit__content">
        <div class="audit__box">
          <h3 class="audit__subtitle">
            Есть дизайн-проект?
          </h3>
          <p class="audit__text audit__text--one">
            Присылайте его нам, и мы оценим стоимость реализации вашей квартиры "под ключ".
          </p>
          <a href="#" class="audit__btns">
            <div class="audit__wrapper">
              <div class="audit__icon-left">
                <svg class="audit__svg audit__svg--screp">
                  <use xlink:href="img/sprite.svg#screp"></use>
                </svg>
              </div>
              <div class="audit__btn">Прикрепить дизайн-файл</div>
              <div class="audit__icon-right">
                <svg class="audit__svg audit__svg--right audit__svg--screp">
                  <use xlink:href="img/sprite.svg#screp"></use>
                </svg>
              </div>
            </div>
          </a>
        </div>
        <div class="audit__box">
          <h3 class="audit__subtitle">
            Нет проекта?
          </h3>
          <p class="audit__text">
            Создадим его на основании ваших пожеланий с использованием современных трендов. Оцените возможности вашего
            пространства!
          </p>
          <a href="#" class="audit__btns" data-graph-path="modal">
            <div class="audit__wrapper">
              <div class="audit__icon-left">
                <svg class="audit__svg">
                  <use xlink:href="img/sprite.svg#arrow-black"></use>
                </svg>
              </div>
              <div class="audit__btn">Обсудить дизайн-проект</div>
              <div class="audit__icon-right">
                <svg class="audit__svg audit__svg--right">
                  <use xlink:href="img/sprite.svg#arrow-black"></use>
                </svg>
              </div>
            </div>
          </a>
        </div>
      </div>

    </div>

    <div class="audit__bot">
      <h2 class="audit__title">
        Стоимость работ
      </h2>
      <ul class="audit__list list-reset">
        <li class="audit__item">
          <span class="audit__descr">Ремонт квартир под ключ</span>
          <span class="audit__descr">от 35 000 р./кв.м.</span>
        </li>
        <li class="audit__item">
          <span class="audit__descr">Ремонт дома под ключ</span>
          <span class="audit__descr">от 45 000 р./кв.м.</span>
        </li>
        <li class="audit__item">
          <span class="audit__descr">Дизайн-проект</span>
          <span class="audit__descr">4 500 р./кв.м.</span>
        </li>
        <li class="audit__item">
          <span class="audit__descr">Технический надзор</span>
          <span class="audit__descr">30 000 р./мес.</span>
        </li>
      </ul>
      <a href="#" class="audit__link">Есть вопрос
        <img loading="lazy" src="img/arrow-oreng.svg" width="10" height="10" class="audit__arrow image" alt="st">
      </a>
    </div>
  </div>
</section>
