<section class="comp">
  <div class="container">
    <h1 class="comp__title">
      О компании <br>
      IMPERIUM-STROY
    </h1>
    <p class="comp__text">
      За шесть лет нашей деятельности мы успешно завершили ремонт более чем в 400 квартирах и помещениях. Это означает,
      что по
      крайней мере 400 человек теперь наслаждаются комфортными условиями благодаря нашей работе.

    </p>
    <p class="comp__text">
      Вся наша команда проходит строгий отбор, где мы оцениваем не только их профессиональные навыки, но и их личные
      качества:
      добросовестность, ответственность, стремление к совершенству.
    </p>
    <p class="comp__text">
      Поэтому у нас работают истинные мастера своего дела, которые с любовью и профессионализмом подходят к выполнению
      качественного ремонта.
    </p>
    <picture>
      <source srcset="img/about-big.avif" type="image/avif">
      <source srcset="img/about-big.webp" type="image/webp">
      <img  src="img/about-big.jpg" class="image" alt="big">
    </picture>
  </div>
</section>
