<section class="features">
  <div class="container">
    <div class="features__content">
      <h2 class="features__title">
        Особенности ремонта <br> коммерческой недвижимости
      </h2>
      <ul class="features__list list-reset">
        <li class="features__item">
          <img loading="lazy" src="img/features-1.svg" class="features__img image" alt="features">
          <p class="features__text">
            Адаптируем дизайн под ваш бренд, создавая привлекательный и функциональный интерьер
          </p>
        </li>
        <li class="features__item">
          <img loading="lazy" src="img/features-2.svg" class="features__img image" alt="features">
          <p class="features__text">
            Используем высококачественные и износостойкие материалы для долговечности конструкций
          </p>
        </li>
        <li class="features__item">
          <img loading="lazy" src="img/features-3.svg" class="features__img image" alt="features">
          <p class="features__text">
            Грамотно зонируем пространство, обеспечиваем эргономику и безопасность
          </p>
        </li>
        <li class="features__item">
          <img loading="lazy" src="img/features-4.svg" class="features__img image" alt="features">
          <p class="features__text">
            Эффективно обеспечиваем инженерные системы, включая кондиционирование и вентиляцию
          </p>
        </li>
      </ul>
    </div>

    <div class="features__wrapper">
      <p class="features__citation">
        <span class="features__accent" id="s1">Стоимость ремонта зависит от многих факторов:</span>
        <span class="features__accent" id="s2">от объема работ до выбора отделочных материалов.</span>
        <span class="features__accent" id="s3">“IMPERIUM-STROY” предоставляет полный спектр услуг</span>
        <span class="features__accent" id="s4">по капитальному и косметическому ремонту</span>
        <span class="features__accent" id="s5">коммерческой недвижимости. Наши специалисты</span>
        <span class="features__accent" id="s6">обладают богатым опытом, что гарантирует успешное</span>
        <span class="features__accent" id="s7">выполнение проектов в срок и на высшем уровне качества.</span>
      </p>
      <span class="features__name">
        Максим Чернышов
      </span>
      <span class="features__position">
        руководитель компании
      </span>
    </div>
  </div>
</section>
