<section class="form">
  <div class="container">
    <div class="form__content">
      <h2 class="form__title">
        Оставьте заявку на бесплатную консультацию. <br>
        Мы перезвоним вам в течение 20 минут
      </h2>
      <form id="form" action="#" class="form__form">
        <span class="form__valid">Проверьте правильность введенных данных</span>
        <input type="text" name="name" class="input-reset form__input" placeholder="Как Вас зовут?">
        <input type="tel" name="phone" id="phone" class="input-reset form__input" placeholder="+7 (999) 999 99 99">
        <button type="submit" value="Submit" class="form__btns btn-reset">
          <div class="form__wrapper">
            <div class="form__icon-left">
              <svg class="form__svg">
                <use xlink:href="img/sprite.svg#arrow-black"></use>
              </svg>
            </div>
            <div class="form__btn">Отправить данные</div>
            <div class="form__icon-right">
              <svg class="form__svg form__svg--right">
                <use xlink:href="img/sprite.svg#arrow-black"></use>
              </svg>
            </div>
          </div>
        </button>
      </form>
      <span class="form__text">
        Оставляя свои данные вы соглашаетесь с нашей <a href="#" class="form__link">политикой конфиденциальности</a>
      </span>
    </div>

  </div>
</section>
