<section class="grid">
  <div class="container">
    <div class="grid__content">
      <div class="grid__item">
        <div class="grid__top">
          <h2 class="grid__title"><span class="grid__accent">6</span> лет</h2>
        </div>
        <div class="grid__bot">
          <p class="grid__text">создаем интерьеры и реализовываем их</p>
        </div>

      </div>
      <div class="grid__item">
        <div class="grid__top grid__top--one">
          <h2 class="grid__title"> <span class="grid__accent">400</span> объектов</h2>
        </div>
        <div class="grid__bot grid__bot--one">
          <p class="grid__text">выполнено за 6 лет работы. Ежегодно завершаем более 50 контрактов по ремонтным работам</p>
        </div>
      </div>
      <div class="grid__item">
        <div class="grid__top grid__top--two">
          <h2 class="grid__title"><span class="grid__accent">40</span> специалистов</h2>
        </div>
        <div class="grid__bot grid__bot--two">
          <p class="grid__text">в бригадах одновременно работают на разных объектах по всей стране</p>
        </div>

      </div>
      <div class="grid__item">
        <div class="grid__top grid__top--three">
          <h2 class="grid__title"> <span class="grid__accent">100%</span></h2>
        </div>
        <div class="grid__bot grid__bot--three">
          <p class="grid__text">соблюдение норм и гарантий во время ремонта</p>
        </div>

      </div>
    </div>
  </div>

</section>
