<section class="hero-two">
  <div class="container">
    <div class="hero-two__content">
      <div class="hero-two__inner">
        <h1 class="hero-two__title">
          <span class="hero-two__accent">Профессиональный ремонт коммерческой недвижимости</span> в Санкт-Петербурге
        </h1>

        <p class="hero-two__text">
          Уже в 5 городах России предоставляем высококачественные услуги, основанные на опыте и инновациях
        </p>
        <div class="hero-two__box">
          <a href="#" class="hero__btns" data-graph-path="modal">
            <div class="hero__wrapper">
              <div class="hero__icon-left">
                <svg class="hero__svg">
                  <use xlink:href="img/sprite.svg#arrow-black"></use>
                </svg>
              </div>
              <div class="hero__btn">Связаться с компанией</div>
              <div class="hero__icon-right">
                <svg class="hero__svg hero__svg--right">
                  <use xlink:href="img/sprite.svg#arrow-black"></use>
                </svg>
              </div>
            </div>
          </a>
          <a href="#" class="hero-two__button">
            Нет дизайн-проекта
          </a>
        </div>

      </div>
      <div class="hero-two__projects">
        <picture>
          <source srcset="img/hero-two.avif" type="image/avif">
          <source srcset="img/hero-two.webp" type="image/webp">
          <img  src="img/hero-two.jpg" class="image" alt="img">
        </picture>
      </div>
    </div>
  </div>
</section>
