<section class="hero">
  <div class="container">
    <div class="hero__content">
      <div class="hero__inner">
        <h1 class="hero__title">
           <span class="hero__accent">Профессиональный ремонт недвижимости</span>  в Санкт-Петербурге
        </h1>
        <p class="hero__descr">
          Создаем уют и комфорт в ваших квартирах, домах, коммерческих помещениях
        </p>
        <p class="hero__text">
          Уже в 5 городах России предоставляем высококачественные услуги, основанные на опыте и инновациях
        </p>
        <div class="hero__box">
          <a href="#" class="hero__btns" data-graph-path="modal">
            <div class="hero__wrapper">
              <div class="hero__icon-left">
                <svg class="hero__svg">
                  <use xlink:href="img/sprite.svg#arrow-black"></use>
                </svg>
              </div>
              <div class="hero__btn">Связаться с компанией</div>
              <div class="hero__icon-right">
                <svg class="hero__svg hero__svg--right">
                  <use xlink:href="img/sprite.svg#arrow-black"></use>
                </svg>
              </div>
            </div>
          </a>
          <a href="#" class="hero__button">
            Нет дизайн-проекта
          </a>
        </div>

      </div>
      <div class="hero__projects">
        <div class="hero__item">
          <picture>
            <source srcset="img/project-1.avif" type="image/avif">
            <source srcset="img/project-1.webp" type="image/webp">
            <a href="#">
              <img src="img/project-1.png" class="hero__img image" width="430" height="555" alt="img">
            </a>
          </picture>
          <a href="project-inner.html" class="hero__link">Шале, “Северная жемчужина”</a>
        </div>
        <div class="hero__item">
            <picture>
              <source srcset="img/project-2.avif" type="image/avif">
              <source srcset="img/project-2.webp" type="image/webp">
              <a href="#">
                <img src="img/project-2.png" class="hero__img image" width="430" height="555" alt="img">
              </a>
            </picture>

          <a href="project-inner.html" class="hero__link">Петровский квартал</a>
        </div>
      </div>
    </div>
  </div>
</section>
