<div class="letters">
  <div class="container">
    <div class="letters__content">
      <picture class="letters__img letters__img--one">
        <source srcset="img/letter-1.avif" type="image/avif">
        <source srcset="img/letter-1.webp" type="image/webp">
        <img loading="lazy" src="img/letter-1.png" class="letters__png image" width="316" height="345" alt="img">
      </picture>
      <picture  class="letters__img letters__img--two" >
        <source srcset="img/letter-2.avif" type="image/avif">
        <source srcset="img/letter-2.webp" type="image/webp">
        <img loading="lazy" src="img/letter-2.png" class="letters__png image" width="306" height="345" alt="img">
      </picture>
      <picture  class="letters__img letters__img--three" >
        <source srcset="img/letter-3.avif" type="image/avif">
        <source srcset="img/letter-3webp" type="image/webp">
        <img loading="lazy" src="img/letter-3.png" class="letters__png image" width="310" height="345" alt="img">
      </picture>
      <picture  class="letters__img letters__img--four" >
        <source srcset="img/letter-4.avif" type="image/avif">
        <source srcset="img/letter-4.webp" type="image/webp">
        <img loading="lazy" src="img/letter-4.png" class="letters__png image" width="321" height="345" alt="img">
      </picture>
      <picture  class="letters__img letters__img--five"  >
        <source srcset="img/letter-5.avif" type="image/avif">
        <source srcset="img/letter-5.webp" type="image/webp">
        <img loading="lazy" src="img/letter-5.png" class="letters__png image" width="337" height="345" alt="img">
      </picture>
    </div>
  </div>
</div>
