<section class="move">
  <div class="container">
    <div class="move__content">
      <div class="move__wrapper">
        <h2 class="move__title">
          Первый шаг
        </h2>
        <div>
          <p class="move__descr ">
            Ваш магазин, офис, ресторан – ключ к успеху вашего бизнеса. Он должен быть представительным, создавать уют
            для
            сотрудников и внушать доверие партнерам.
          </p>
          <p class="move__descr ">
            В “IMPERIUM-STROY” мы понимаем, что ремонт коммерческой недвижимости – это важный шаг для развития вашего
            бизнеса.
          </p>
        </div>
      </div>

      <div class="move__overlay">
        <div class="move__box">
          <div class="move__over">
            <picture>
              <source srcset="img/move-1.avif" type="image/avif">
              <source srcset="img/move-1.webp" type="image/webp">
              <a href="#">
                <img loading="lazy" src="img/move-1.png" class="move__img image" alt="move">
              </a>
            </picture>
            <div class="move__inner">
              <ul class="move__list list-reset">
                <li class="move__li">
                  <span class="move__text">Площадь квартиры</span>
                  <span class="move__text">84 кв.м.</span>
                </li>
                <li class="move__li">
                  <span class="move__text">Стоимость за кв.м.</span>
                  <span class="move__text">28 000 ₽</span>
                </li>
                <li class="move__li">
                  <span class="move__text">Срок реализации проекта</span>
                  <span class="move__text">6 месяцев</span>
                </li>
              </ul>
              <a href="#" class="move__link">
                К проекту
                <img loading="lazy" src="img/arrow-oreng.svg" width="10" height="10" class="move__arrow image" alt="st">
              </a>
            </div>
          </div>



          <span class="move__name">Шоурум в Севкабель ПОРТ</span>
        </div>
        <div class="move__box">
          <picture>
            <source srcset="img/move-2.avif" type="image/avif">
            <source srcset="img/move-2.webp" type="image/webp">
            <a href="#">
              <img loading="lazy" src="img/move-2.png" class="move__png image" alt="move">
            </a>

          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
