<section class="price">
  <div class="container">
    <div class="price__content">
      <h2 class="price__title">
        Стоимость работ
      </h2>
      <ul class="price__list list-reset">
        <li class="price__item">
          <span class="price__descr">Ремонт квартир под ключ</span>
          <span class="price__descr">от 35 000 р./кв.м.</span>
        </li>
        <li class="price__item">
          <span class="price__descr">Ремонт дома под ключ</span>
          <span class="price__descr">от 45 000 р./кв.м.</span>
        </li>
        <li class="price__item">
          <span class="price__descr">Дизайн-проект</span>
          <span class="price__descr">4 500 р./кв.м.</span>
        </li>
        <li class="price__item">
          <span class="price__descr">Технический надзор</span>
          <span class="price__descr">30 000 р./мес.</span>
        </li>
      </ul>
      <a href="#" class="price__link none-tablet">Есть вопрос
        <img loading="lazy" src="img/arrow-oreng.svg" class="price__arrow image" alt="st">
      </a>

    </div>
  </div>
</section>
