<section class="production">
  <div class="container">
    <div class="production__content">
      <h2 class="production__title">
        Собственное производство <br> корпусной мебели
      </h2>
      <div class="production__box">
        <p class="production__text">
          Более 4 лет мы занимаемся производством собственной мебели, и в нашей команде собраны профессионалы с опытом
          более 20
          лет. Мы специализируемся на реализации проектов, созданных нашей дизайн-студией, и обеспечиваем обустройство
          мебелью
          объектов из собственного производства.
        </p>
        <p class="production__text">
          В нашей работе мы используем материалы, которые заслуживают доверия на рынке, такие как корпуса из ЛДСП лучших
          производителей, фурнитура преимущественно немецкого производства, а также фасады из эмали, пленки, пластика и
          массива.
          Мы предлагаем тщательный подбор техники, качественную сборку и подключение, обеспечивая гарантированный
          результат и
          полноценный комплексный подход.
        </p>
      </div>
    </div>
    <div class="production__wrapper">
      <ul class="production__list list-reset">
        <li class="production__item">
          высококачественные материалы
        </li>
        <li class="production__item">
          Надежная фурнитура
        </li>
        <li class="production__item">
          Стойкость к воздействию
        </li>
        <li class="production__item">
          Эстетика и стиль
        </li>
        <li class="production__item">
          Индивидуальность
        </li>
      </ul>
      <video class="production__video" src="video.mp4" loop preload="metadata" poster="img/video-bg.png">
      </video>
      <div class="production__play">
        <span class="production__name">Видео-обзор квартиры</span>
        <button type="button" class="btn-reset production__palaybtn">
          <img loading="lazy" src="img/play.svg" class="production__svg image"  alt="play">
        </button>

      </div>
    </div>
  </div>
</section>
