<section class="projects">
  <div class="container">
    <div class="projects__content">
      <h1 class="projects__title">
        Реализованные проекты
      </h1>
      <div class="projects__wrapper">
        <div class="projects__item">
          <div class="projects__inside">
            <picture>
              <source srcset="img/content-1.avif" type="image/avif">
              <source srcset="img/content-1.webp" type="image/webp">
              <img loading="lazy" src="img/content-1.png" class="projects__img image" alt="content">
            </picture>
            <div class="projects__inner">
              <ul class="projects__list list-reset">
                <li class="projects__li">
                  <span class="projects__text">Площадь квартиры</span>
                  <span class="projects__text">84 кв.м.</span>
                </li>
                <li class="projects__li">
                  <span class="projects__text">Стоимость за кв.м.</span>
                  <span class="projects__text">28 000 ₽</span>
                </li>
                <li class="projects__li">
                  <span class="projects__text">Срок реализации проекта</span>
                  <span class="projects__text">6 месяцев</span>
                </li>
              </ul>
              <a href="#" class="projects__link">
                К проекту
                <img loading="lazy" src="img/arrow-oreng.svg" width="10" height="10" class="projects__arrow image" alt="st">
              </a>
            </div>
          </div>

          <p class="projects__descr">
            Живописный поселок “Северная жемчужина”
          </p>
        </div>
        <div class="projects__item">
          <div class="projects__inside">
            <picture>
              <source srcset="img/content-2.avif" type="image/avif">
              <source srcset="img/content-2.webp" type="image/webp">
              <img loading="lazy" src="img/content-2.png" class="projects__img image" alt="content">
            </picture>
            <div class="projects__inner">
              <ul class="projects__list list-reset">
                <li class="projects__li">
                  <span class="projects__text">Площадь квартиры</span>
                  <span class="projects__text">84 кв.м.</span>
                </li>
                <li class="projects__li">
                  <span class="projects__text">Стоимость за кв.м.</span>
                  <span class="projects__text">28 000 ₽</span>
                </li>
                <li class="projects__li">
                  <span class="projects__text">Срок реализации проекта</span>
                  <span class="projects__text">6 месяцев</span>
                </li>
              </ul>
              <a href="#" class="projects__link">
                К проекту
                <img loading="lazy" src="img/arrow-oreng.svg" width="10" height="10" class="projects__arrow image" alt="st">
              </a>
            </div>
          </div>

          <p class="projects__descr">
            Живописный поселок “Северная жемчужина”
          </p>
        </div>
        <div class="projects__item">
          <div class="projects__inside">
            <picture>
              <source srcset="img/content-3.avif" type="image/avif">
              <source srcset="img/content-3.webp" type="image/webp">
              <img loading="lazy" src="img/content-3.png" class="projects__img image" alt="content">
            </picture>
            <div class="projects__inner">
              <ul class="projects__list list-reset">
                <li class="projects__li">
                  <span class="projects__text">Площадь квартиры</span>
                  <span class="projects__text">84 кв.м.</span>
                </li>
                <li class="projects__li">
                  <span class="projects__text">Стоимость за кв.м.</span>
                  <span class="projects__text">28 000 ₽</span>
                </li>
                <li class="projects__li">
                  <span class="projects__text">Срок реализации проекта</span>
                  <span class="projects__text">6 месяцев</span>
                </li>
              </ul>
              <a href="#" class="projects__link">
                К проекту
                <img loading="lazy" src="img/arrow-oreng.svg" width="10" height="10" class="projects__arrow image" alt="st">
              </a>
            </div>
          </div>

          <p class="projects__descr">
            Живописный поселок “Северная жемчужина”
          </p>
        </div>
        <div class="projects__item">
          <div class="projects__inside">
            <picture>
              <source srcset="img/content-1.avif" type="image/avif">
              <source srcset="img/content-1.webp" type="image/webp">
              <img loading="lazy" src="img/content-1.png" class="projects__img image" alt="content">
            </picture>
            <div class="projects__inner">
              <ul class="projects__list list-reset">
                <li class="projects__li">
                  <span class="projects__text">Площадь квартиры</span>
                  <span class="projects__text">84 кв.м.</span>
                </li>
                <li class="projects__li">
                  <span class="projects__text">Стоимость за кв.м.</span>
                  <span class="projects__text">28 000 ₽</span>
                </li>
                <li class="projects__li">
                  <span class="projects__text">Срок реализации проекта</span>
                  <span class="projects__text">6 месяцев</span>
                </li>
              </ul>
              <a href="#" class="projects__link">
                К проекту
                <img loading="lazy" src="img/arrow-oreng.svg" width="10" height="10" class="projects__arrow image" alt="st">
              </a>
            </div>
          </div>

          <p class="projects__descr">
            Живописный поселок “Северная жемчужина”
          </p>
        </div>
        <div class="projects__item">
          <div class="projects__inside">
            <picture>
              <source srcset="img/content-2.avif" type="image/avif">
              <source srcset="img/content-2.webp" type="image/webp">
              <img loading="lazy" src="img/content-2.png" class="projects__img image" alt="content">
            </picture>
            <div class="projects__inner">
              <ul class="projects__list list-reset">
                <li class="projects__li">
                  <span class="projects__text">Площадь квартиры</span>
                  <span class="projects__text">84 кв.м.</span>
                </li>
                <li class="projects__li">
                  <span class="projects__text">Стоимость за кв.м.</span>
                  <span class="projects__text">28 000 ₽</span>
                </li>
                <li class="projects__li">
                  <span class="projects__text">Срок реализации проекта</span>
                  <span class="projects__text">6 месяцев</span>
                </li>
              </ul>
              <a href="#" class="projects__link">
                К проекту
                <img loading="lazy" src="img/arrow-oreng.svg" width="10" height="10" class="projects__arrow image" alt="st">
              </a>
            </div>
          </div>

          <p class="projects__descr">
            Живописный поселок “Северная жемчужина”
          </p>
        </div>
        <div class="projects__item">
          <p class="projects__text projects__text--active">
            Мы не выбираем легкий путь, а воплощаем ваши сложные задумки. Наши профессионалы специализируются в разных
            областях -
            плиточники, маляры и другие.
            Мы верим в их мастерство и сосредотачиваемся на том, чтобы каждый делал свою работу идеально.
          </p>
          <p class="projects__text">
            Для сокращения времени на согласование, перед началом каждого этапа производства мы предоставляем вам список
            вопросов
            для обсуждения и одобрения.
          </p>
          <p class="projects__text">

            Мы также организуем одновременно разработку дизайн-проекта и строительные работы, что сокращает сроки, но не
            ухудшает
            качество.
          </p>
        </div>
        <div class="projects__item">
          <div class="projects__inside">
            <picture>
              <source srcset="img/content-1.avif" type="image/avif">
              <source srcset="img/content-1.webp" type="image/webp">
              <img loading="lazy" src="img/content-1.png" class="projects__img image" alt="content">
            </picture>
            <div class="projects__inner">
              <ul class="projects__list list-reset">
                <li class="projects__li">
                  <span class="projects__text">Площадь квартиры</span>
                  <span class="projects__text">84 кв.м.</span>
                </li>
                <li class="projects__li">
                  <span class="projects__text">Стоимость за кв.м.</span>
                  <span class="projects__text">28 000 ₽</span>
                </li>
                <li class="projects__li">
                  <span class="projects__text">Срок реализации проекта</span>
                  <span class="projects__text">6 месяцев</span>
                </li>
              </ul>
              <a href="#" class="projects__link">
                К проекту
                <img loading="lazy" src="img/arrow-oreng.svg" width="10" height="10" class="projects__arrow image" alt="st">
              </a>
            </div>
          </div>

          <p class="projects__descr">
            Живописный поселок “Северная жемчужина”
          </p>
        </div>
        <div class="projects__item">
          <div class="projects__inside">
            <picture>
              <source srcset="img/content-3.avif" type="image/avif">
              <source srcset="img/content-3.webp" type="image/webp">
              <img loading="lazy" src="img/content-3.png" class="projects__img image" alt="content">
            </picture>
            <div class="projects__inner">
              <ul class="projects__list list-reset">
                <li class="projects__li">
                  <span class="projects__text">Площадь квартиры</span>
                  <span class="projects__text">84 кв.м.</span>
                </li>
                <li class="projects__li">
                  <span class="projects__text">Стоимость за кв.м.</span>
                  <span class="projects__text">28 000 ₽</span>
                </li>
                <li class="projects__li">
                  <span class="projects__text">Срок реализации проекта</span>
                  <span class="projects__text">6 месяцев</span>
                </li>
              </ul>
              <a href="#" class="projects__link">
                К проекту
                <img loading="lazy" src="img/arrow-oreng.svg" width="10" height="10" class="projects__arrow image" alt="st">
              </a>
            </div>
          </div>

          <p class="projects__descr">
            Живописный поселок “Северная жемчужина”
          </p>
        </div>
        <div class="projects__item">
          <div class="projects__inside">
            <picture>
              <source srcset="img/content-1.avif" type="image/avif">
              <source srcset="img/content-1.webp" type="image/webp">
              <img loading="lazy" src="img/content-1.png" class="projects__img image" alt="content">
            </picture>
            <div class="projects__inner">
              <ul class="projects__list list-reset">
                <li class="projects__li">
                  <span class="projects__text">Площадь квартиры</span>
                  <span class="projects__text">84 кв.м.</span>
                </li>
                <li class="projects__li">
                  <span class="projects__text">Стоимость за кв.м.</span>
                  <span class="projects__text">28 000 ₽</span>
                </li>
                <li class="projects__li">
                  <span class="projects__text">Срок реализации проекта</span>
                  <span class="projects__text">6 месяцев</span>
                </li>
              </ul>
              <a href="#" class="projects__link">
                К проекту
                <img loading="lazy" src="img/arrow-oreng.svg" width="10" height="10" class="projects__arrow image" alt="st">
              </a>
            </div>
          </div>

          <p class="projects__descr">
            Живописный поселок “Северная жемчужина”
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
