<section class="questions">
  <div class="container">
    <div class="questions__content">
      <div class="questions__inner">
        <h2 class="questions__title">
          Часто задаваемые <br> вопросы
        </h2>
      </div>
      <div class="questions__inner">
        <div class="questions__item questions__item--active">
          <div class="questions__box">
            <h3 class="questions__subtitle questions__subtitle--active">
              Кто будет делать ремонт?
            </h3>
            <button class="questions__btn btn-reset">
              <img loading="lazy" src="img/arrow-white.svg" class="questions__svg questions__svg--active image" width="12" height="12" alt="arrow">
            </button>
          </div>
          <p class="questions__text questions__text--active">
            Да, вы получаете официальную гарантию на ремонтные работы по договору. При покупке материалов нашей компанией мы даем
            расширенную гарантию на 3 года, так как уверены в надежности и качестве используемых материалов. При использовании ваших
            материалов гарантийных срок составит 1 год с момента подписания итогового акта сдачи-приемки выполненных работ. В случае
            возникновения гарантийного случая мы исправим проблему за свой счет.
          </p>
        </div>
        <div class="questions__item">
          <div class="questions__box">
            <h3 class="questions__subtitle">
              Даете ли вы гарантию на работы?
            </h3>
            <button class="questions__btn btn-reset">
              <img loading="lazy" src="img/arrow-white.svg" class="questions__svg image" width="12" height="12" alt="arrow">
            </button>
          </div>
          <p class="questions__text">
            Да, вы получаете официальную гарантию на ремонтные работы по договору. При покупке материалов нашей компанией мы даем
            расширенную гарантию на 3 года, так как уверены в надежности и качестве используемых материалов. При использовании
            ваших
            материалов гарантийных срок составит 1 год с момента подписания итогового акта сдачи-приемки выполненных работ. В
            случае
            возникновения гарантийного случая мы исправим проблему за свой счет.
          </p>
        </div>
        <div class="questions__item">
          <div class="questions__box">
            <h3 class="questions__subtitle">
             Сколько будет длиться ремонт <br> в моей квартире/доме?
            </h3>
            <button class="questions__btn btn-reset">
              <img loading="lazy" src="img/arrow-white.svg" class="questions__svg image" width="12" height="12" alt="arrow">
            </button>
          </div>
          <p class="questions__text">
            Да, вы получаете официальную гарантию на ремонтные работы по договору. При покупке материалов нашей компанией мы даем
            расширенную гарантию на 3 года, так как уверены в надежности и качестве используемых материалов. При использовании
            ваших
            материалов гарантийных срок составит 1 год с момента подписания итогового акта сдачи-приемки выполненных работ. В
            случае
            возникновения гарантийного случая мы исправим проблему за свой счет.
          </p>
        </div>
        <div class="questions__item">
          <div class="questions__box">
            <h3 class="questions__subtitle">
              Что делать если нужна перепланировка?
            </h3>
            <button class="questions__btn btn-reset">
              <img loading="lazy" src="img/arrow-white.svg" class="questions__svg image" width="12" height="12" alt="arrow">
            </button>
          </div>
          <p class="questions__text">
            Да, вы получаете официальную гарантию на ремонтные работы по договору. При покупке материалов нашей компанией мы
            даем
            расширенную гарантию на 3 года, так как уверены в надежности и качестве используемых материалов. При использовании
            ваших
            материалов гарантийных срок составит 1 год с момента подписания итогового акта сдачи-приемки выполненных работ. В
            случае
            возникновения гарантийного случая мы исправим проблему за свой счет.
          </p>
        </div>
        <div class="questions__item">
          <div class="questions__box">
            <h3 class="questions__subtitle">
              Могу ли я закупить материалы самостоятельно?
            </h3>
            <button class="questions__btn btn-reset">
              <img loading="lazy" src="img/arrow-white.svg" class="questions__svg image" width="12" height="12" alt="arrow">
            </button>
          </div>
          <p class="questions__text">
            Да, вы получаете официальную гарантию на ремонтные работы по договору. При покупке материалов нашей компанией мы
            даем
            расширенную гарантию на 3 года, так как уверены в надежности и качестве используемых материалов. При использовании
            ваших
            материалов гарантийных срок составит 1 год с момента подписания итогового акта сдачи-приемки выполненных работ. В
            случае
            возникновения гарантийного случая мы исправим проблему за свой счет.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
