<section class="quiz">
  <div class="container">
    <h2 class="quiz__title">
      Заполните форму, чтобы получить предварительный <br> расчет стоимости ремонта вашей квартиры
    </h2>
    <div class="quiz__content" id="quiz">
      <ul class="quiz__list list-reset">
        <li class="quiz__item quiz__item--active">
          Помещение
        </li>
        <li class="quiz__item">
          Площадь
        </li>
        <li class="quiz__item">
          Вид ремонта
        </li>
        <li class="quiz__item">
          Дизайн-проект
        </li>
        <li class="quiz__item">
          Сроки
        </li>
      </ul>
      <form class="quiz__questions" id="questions">
        <div class="quiz__questions-item quiz__questions-item--active">
          <h3 class="quiz__subtitle">Где нужен ремонт?</h3>
          <ul class="quiz__answers list-reset">
            <li>

              <label class="quiz__label">
                <picture >
                  <source srcset="img/quiz-1.avif" type="image/avif">
                  <source srcset="img/quiz-1.webp" type="image/webp">
                  <img loading="lazy" src="img/quiz-1.png" class="quiz__img image" alt="quiz">
                </picture>
                <div class="quiz__label--two">
                  <input class="quiz__input input-reset" type="radio" name="q1">
                  Новостройка
                </div>
              </label>
            </li>
            <li>

              <label class="quiz__label">
                <picture>
                  <source srcset="img/quiz-2.avif" type="image/avif">
                  <source srcset="img/quiz-2.webp" type="image/webp">
                  <img loading="lazy" src="img/quiz-2.png" class="quiz__img image" alt="quiz">
                </picture>
                <div class="quiz__label--two">
                  <input class="quiz__input input-reset" type="radio" name="q1">
                  Вторичка
                </div>

              </label>
            </li>
            <li>

              <label class="quiz__label">
                <picture>
                  <source srcset="img/quiz-3.avif" type="image/avif">
                  <source srcset="img/quiz-3.webp" type="image/webp">
                  <img loading="lazy" src="img/quiz-3.png" class="quiz__img image" alt="quiz">
                </picture>
                <div class="quiz__label--two">
                  <input class="quiz__input input-reset" type="radio" name="q1">
                  Дом
                </div>

              </label>
            </li>
            <li>

              <label class="quiz__label">
                <picture>
                  <source srcset="img/quiz-4.avif" type="image/avif">
                  <source srcset="img/quiz-4.webp" type="image/webp">
                  <img loading="lazy" src="img/quiz-4.png" class="quiz__img image" alt="quiz">
                </picture>
                <div class="quiz__label--two">
                  <input class="quiz__input input-reset" type="radio" name="q1">
                  Коммерческий объект
                </div>

              </label>
            </li>
          </ul>
        </div>
        <div class="quiz__questions-item quiz__questions-item--mini">
          <h3 class="quiz__subtitle">Укажите площадь вашего помещения</h3>
          <ul class="quiz__answers quiz__answers--two list-reset">
            <li>

              <label class="quiz__label">
                <div class="quiz__label--two">
                  <input class="quiz__input input-reset" type="radio" name="q1">
                  до 15 кв.м.
                </div>

              </label>
            </li>
            <li>

              <label class="quiz__label">
                <div class="quiz__label--two">
                  <input class="quiz__input input-reset" type="radio" name="q1">
                  от 35 до 60 кв.м.
                </div>

              </label>
            </li>
            <li>

              <label class="quiz__label">
                <div class="quiz__label--two">
                  <input class="quiz__input input-reset" type="radio" name="q1">
                  от 85 до 100 кв.м.
                </div>

              </label>
            </li>
            <li>

              <label class="quiz__label">
                <div class="quiz__label--two">
                  <input class="quiz__input input-reset" type="radio" name="q1">
                  от 15 до 35 кв.м.
                </div>

              </label>
            </li>
            <li>

              <label class="quiz__label">
                <div class="quiz__label--two">
                  <input class="quiz__input input-reset" type="radio" name="q1">
                  от 60 до 85 кв.м.
                </div>

              </label>
            </li>
            <li>

              <label class="quiz__label">
                <div class="quiz__label--two">
                  <input class="quiz__input input-reset" type="radio" name="q1">
                  более 100 кв.м.
                </div>

              </label>
            </li>
          </ul>
        </div>
        <div class="quiz__questions-item">
          <h3 class="quiz__subtitle">Какой вид ремонта необходимо сделать?</h3>
          <ul class="quiz__answers list-reset">
            <li>

              <label class="quiz__label">
                <picture>
                  <source srcset="img/quiz-1.avif" type="image/avif">
                  <source srcset="img/quiz-1.webp" type="image/webp">
                  <img loading="lazy" src="img/quiz-1.png" class="quiz__img image" alt="quiz">
                </picture>
                <div class="quiz__label--two">
                  <input class="quiz__input input-reset" type="radio" name="q1">
                  Косметический
                </div>

              </label>
            </li>
            <li>

              <label class="quiz__label">
                <picture>
                  <source srcset="img/quiz-2.avif" type="image/avif">
                  <source srcset="img/quiz-2.webp" type="image/webp">
                  <img loading="lazy" src="img/quiz-2.png" class="quiz__img image" alt="quiz">
                </picture>
                <div class="quiz__label--two">
                  <input class="quiz__input input-reset" type="radio" name="q1">
                  Капитальный ремонт
                </div>

              </label>
            </li>
            <li>

              <label class="quiz__label">
                <picture>
                  <source srcset="img/quiz-3.avif" type="image/avif">
                  <source srcset="img/quiz-3.webp" type="image/webp">
                  <img loading="lazy" src="img/quiz-3.png" class="quiz__img image" alt="quiz">
                </picture>
                <div class="quiz__label--two">
                  <input class="quiz__input input-reset" type="radio" name="q1">
                  Евроремонт
                </div>

              </label>
            </li>
            <li>

              <label class="quiz__label">
                <picture>
                  <source srcset="img/quiz-4.avif" type="image/avif">
                  <source srcset="img/quiz-4.webp" type="image/webp">
                  <img loading="lazy" src="img/quiz-4.png" class="quiz__img image" alt="quiz">
                </picture>
                <div class="quiz__label--two">
                  <input class="quiz__input input-reset" type="radio" name="q1">
                  Дизайнерский
                </div>

              </label>
            </li>
          </ul>
        </div>
        <div class="quiz__questions-item quiz__questions-item--mini">
          <h3 class="quiz__subtitle">Когда планируете делать ремонт?</h3>
          <ul class="quiz__answers quiz__answers--three list-reset">
            <li>

              <label class="quiz__label">
                <div class="quiz__label--two">
                  <input class="quiz__input input-reset" type="radio" name="q1">
                  Да, нужно делать
                </div>

              </label>
            </li>
            <li>

              <label class="quiz__label">
                <div class="quiz__label--two">
                  <input class="quiz__input input-reset" type="radio" name="q1">
                  Нет, не нужен
                </div>

              </label>
            </li>


          </ul>
        </div>
        <div class="quiz__questions-item quiz__questions-item--mini">
          <h3 class="quiz__subtitle">Укажите площадь вашего помещения</h3>
          <ul class="quiz__answers quiz__answers--two list-reset">
            <li>

              <label class="quiz__label">
                <div class="quiz__label--two">
                  <input class="quiz__input input-reset" type="radio" name="q1">
                  Можно уже начать
                </div>

              </label>
            </li>
            <li>

              <label class="quiz__label">
                <div class="quiz__label--two">
                  <input class="quiz__input input-reset" type="radio" name="q1">
                  В ближайшие пол-года
                </div>

              </label>
            </li>
            <li>

              <label class="quiz__label">
                <div class="quiz__label--two">
                  <input class="quiz__input input-reset" type="radio" name="q1">
                  В течение месяца
                </div>

              </label>
            </li>
            <li>

              <label class="quiz__label">
                <div class="quiz__label--two">
                  <input class="quiz__input input-reset" type="radio" name="q1">
                  Сроки не определены
                </div>

              </label>
            </li>


          </ul>
        </div>
        <div class="quiz__questions-item">
          <h3 class="quiz__form-title">
            Мы отправим предварительный расчет стоимости ремонта в WhatsApp или Telegram. Оставьте номер (или никнейм),
            по которому
            мы можем найти вас.
          </h3>
          <div class="quiz__form-wrapper">
            <div class="quiz__form-box">
              <input type="text" name="name" class="input-reset form__input" placeholder="Как Вас зовут?">
              <input type="tel" name="phone" class="input-reset form__input" placeholder="+7 (999) 999 99 99">
              <input type="text" name="tel" class="input-reset form__input" placeholder="Никнейм Telegram (@imperium)">
            </div>

            <button type="button" class="quiz__btns btn-reset" id="qbtn">
              <div class="quiz__wrapper">
                <div class="quiz__icon-left">
                  <svg class="quiz__svg">
                    <svg viewBox="0 0 10 10" id="arrow-black" xmlns="http://www.w3.org/2000/svg">
        <path d="M9.993.757a.75.75 0 00-.75-.75h-6.75a.75.75 0 000 1.5h6v6a.75.75 0 101.5 0V.757zM1.288 9.773l8.485-8.485-1.06-1.06L.227 8.711l1.061 1.061z" />
    </svg>
                  </svg>
                </div>
                <div class="quiz__btn">Отправить данные</div>
                <div class="quiz__icon-right">
                  <svg class="quiz__svg quiz__svg--right">
                    <svg viewBox="0 0 10 10" id="arrow-black" xmlns="http://www.w3.org/2000/svg">
        <path d="M9.993.757a.75.75 0 00-.75-.75h-6.75a.75.75 0 000 1.5h6v6a.75.75 0 101.5 0V.757zM1.288 9.773l8.485-8.485-1.06-1.06L.227 8.711l1.061 1.061z" />
    </svg>
                  </svg>
                </div>
              </div>
            </button>
          </div>
          <span class="quiz__form-descr">Оставляя свои данные вы соглашаетесь с нашей
            <a href="#" class="form__link">политикой
            конфиденциальности</a>
          </span>

        </div>
        <div class="quiz__questions-item">
          <h3 class="quiz__form-title">
            Мы получили ваши данные. Спасибо <br>
            Если вы еще не смотрели наши работы - можете перейти <br> на страницу “Реализованные проекты”
          </h3>
          <div class="quiz__form__wrapper">
            <a href="projects.html" class="slider__btns">
              <div class="slider__wrapper">
                <div class="slider__icon-left">
                  <svg class="slider__svg">
                    <svg viewBox="0 0 10 10" id="arrow-black" xmlns="http://www.w3.org/2000/svg">
        <path d="M9.993.757a.75.75 0 00-.75-.75h-6.75a.75.75 0 000 1.5h6v6a.75.75 0 101.5 0V.757zM1.288 9.773l8.485-8.485-1.06-1.06L.227 8.711l1.061 1.061z" />
    </svg>
                  </svg>
                </div>
                <div class="slider__btn">Больше проектов</div>
                <div class="slider__icon-right">
                  <svg class="slider__svg slider__svg--right">
                    <svg viewBox="0 0 10 10" id="arrow-black" xmlns="http://www.w3.org/2000/svg">
        <path d="M9.993.757a.75.75 0 00-.75-.75h-6.75a.75.75 0 000 1.5h6v6a.75.75 0 101.5 0V.757zM1.288 9.773l8.485-8.485-1.06-1.06L.227 8.711l1.061 1.061z" />
    </svg>
                  </svg>
                </div>
              </div>
            </a>
          </div>
        </div>



        <div class="quiz__box">
          <button class="form__btns quiz__btns form__btns--none btn-reset" type="button" id="btn">
            <div class="form__wrapper">
              <div class="form__icon-left">
                <svg class="form__svg">
                  <svg viewBox="0 0 10 10" id="arrow-black" xmlns="http://www.w3.org/2000/svg">
        <path d="M9.993.757a.75.75 0 00-.75-.75h-6.75a.75.75 0 000 1.5h6v6a.75.75 0 101.5 0V.757zM1.288 9.773l8.485-8.485-1.06-1.06L.227 8.711l1.061 1.061z" />
    </svg>
                </svg>
              </div>
              <div class="form__btn">Продолжить</div>
              <div class="form__icon-right">
                <svg class="form__svg form__svg--right">
                  <svg viewBox="0 0 10 10" id="arrow-black" xmlns="http://www.w3.org/2000/svg">
        <path d="M9.993.757a.75.75 0 00-.75-.75h-6.75a.75.75 0 000 1.5h6v6a.75.75 0 101.5 0V.757zM1.288 9.773l8.485-8.485-1.06-1.06L.227 8.711l1.061 1.061z" />
    </svg>
                </svg>
              </div>
            </div>
          </button>
        </div>
      </form>


    </div>
  </div>
</section>
