<section class="report-two">
  <div class="container">


    <div class="report-two__content">
      <div class="report-two__item">
        <span class="report-two__descr">
          5 причин
        </span>
        <h2 class="report-two__title report-two__title--two">
          доверить ремонт <br>
          “IMPERIUM-STROY”
        </h2>
      </div>
      <div class="report-two__item">
        <h3 class="report-two__subtitle">
          Долговечность в каждой <br> детали
        </h3>
        <p class="report-two__text">
          Слушаем профессионалов: ремонт должен сочетать качество и стиль, чтобы следующее обновление жилья стало
          актуальным
          только через 10-15 лет. Именно так мы и подходим к каждому проекту, выполняя работы с тщательностью, как для
          себя.

          А еще мы предоставляем гарантию – 1 год на все виды работ.
        </p>
      </div>
      <div class="report-two__item">
        <h3 class="report-two__subtitle">
          Контроль работ <br> на всех этапах
        </h3>
        <p class="report-two__text">
          Мы осуществляем личный контроль за ходом работ на каждом этапе, поддерживаем постоянную связь с заказчиком,
          регулярно
          предоставляя фотографии и видео процесса. Такой подход не только повышает эффективность и скорость выполнения
          задач, но
          и влияет на высокое качество результата.
        </p>
      </div>
      <div class="report-two__item">
        <h3 class="report-two__subtitle">
          Собрали всех необходимых <br> специалистов
        </h3>
        <p class="report-two__text">
          Более 6 лет компания «Imperium-stroy» радует своих клиентов качественными ремонтными услугами. За это время
          наша команда
          значительно усилилась, включила в свои ряды каменщиков, маляров, плиточников, электриков и других
          профессионалов. Теперь
          вам не нужно искать отдельных специалистов — мы предоставляем все необходимые услуги.
        </p>
      </div>
      <div class="report-two__item">
        <h3 class="report-two__subtitle">
          Использование <br> качественных материалов
        </h3>
        <p class="report-two__text">
          Часто клиенты полагают, что могут справиться с качественным ремонтом, используя инструкции из интернета и видеоролики на
          YouTube. Сотрудничество с нами экономит не только ваше время, так как вам не нужно самостоятельно разбираться во всех
          нюансах и искать специалистов в различных областях, но и обеспечивает закупку и подготовку всех необходимых материалов
          нашими работниками в компании 'Imperium-stroy'.
        </p>
      </div>
      <div class="report-two__item">
        <h3 class="report-two__subtitle">
          Поможем найти <br> компромис
        </h3>
        <p class="report-two__text">
          При наличии у мужа и жены разных взглядов на ремонт и определенные вещи, мы готовы помочь вам найти компромиссные
          решения, удовлетворяющие обоих. Наши опытные специалисты не только предоставляют советы относительно выбора материалов
          и стилей, но и создают уникальные идеи, которые соединяют предпочтения пары так, чтобы ваш дом или квартира стали
          местом, которое любят и вы, и ваш партнёр.
        </p>
      </div>

    </div>
  </div>
</section>
