<section class="report">
  <div class="container">
    <h2 class="report__title asdasd">
      Отчетность и сроки - <br>
      основа ремонта и строительства
    </h2>

    <div class="report__content">
      <div class="report__item">
        <span class="report__descr">
          Особенности команды
        </span>
        <h3 class="report__title report__title--two">
          IMPERIUM-STROY
        </h3>
      </div>
      <div class="report__item">
        <h3 class="report__subtitle">
          Бюджет в пределах, <br> дизайн вне границ
        </h3>
        <p class="report__text">
          Мы понимаем важность соблюдения бюджета. Работая с нами, вы получаете четкие финансовые расчеты и гибкие
          варианты. Наша
          цель - предоставить вам качественный ремонт, соответствующий вашим ожиданиям, не превышая установленных
          финансовых
          границ.
        </p>
      </div>
      <div class="report__item">
        <h3 class="report__subtitle">
          Гарантии качества <br> и прозрачность
        </h3>
        <p class="report__text">
          Гарантируем не только стильный дизайн, но и соблюдение сроков, использование экологически чистых материалов
          и
          качественную отделку.
          С каждым клиентом заключается договор, где прописаны все детали, чтобы вы могли быть уверены в прозрачности
          и честности
          наших отношений.
        </p>
      </div>
      <div class="report__item">
        <h3 class="report__subtitle">
          Дизайн, который <br> отражает ваш стиль
        </h3>
        <p class="report__text">
          Предлагаем дизайн, вдохновленный вашим стилем жизни. Наша команда экспертов стремится создать пространство,
          которое не
          только соответствует последним трендам, но и подчеркивает вашу индивидуальность.
        </p>
      </div>
      <div class="report__item">
        <h3 class="report__subtitle">
          Уникальный дом - <br> он только ваш
        </h3>
        <p class="report__text">
          Понимаем, что ваш дом – это не просто проект, а часть вашей истории. Наши дизайнеры работают индивидуально с
          каждым
          клиентом, чтобы воплотить ваши мечты в жизнь. Сотрудничая с нами, вы получаете не просто ремонт, а создание
          уюта,
          соответствующего вашим ожиданиям.
        </p>
      </div>
      <div class="report__item">
        <h3 class="report__subtitle">
          Функциональность пространства - <br> спокойствие на душе
        </h3>
        <p class="report__text">
          Мы не просто создаем красивые интерьеры. Внимательно слушаем ваши потребности и стремимся создать
          пространство, которое
          олицетворяет ваши ценности. Разработаем функциональные зоны для детей и уютные уголки отдыха, где каждая
          деталь будет не
          просто декором, а частью вашей повседневной жизни.
        </p>
      </div>

    </div>
  </div>
</section>
