<section class="reviews">
  <div class="container">
    <div class="reviews__content">
      <div class="reviews__box">
        <h2 class="reviews__title">
          Отзывы <br class="brr"> клиентов
        </h2>
        <p class="reviews__descr">
          Прочтите, что говорят наши клиенты
        </p>
      </div>

      <div class="reviews__rows">
        <div class="reviews__row reviews__row--one" >
          <picture>
            <source srcset="img/row-1.avif" type="image/avif">
            <source srcset="img/row-1.webp" type="image/webp">
            <img loading="lazy" src="img/row-1.png" class="reviews__img image" alt="img">
          </picture>
          <div class="reviews__item">
            <p class="reviews__text">
              “We were looking for an agency that would help design and build the job platform of the future with us. Cut the Code was
              able to perfectly translate our needs into a digital experience that seamlessly aligns with the modern employer and
              jobseeker.”
            </p>
            <div class="reviews__acaunt">
              <picture>
                <source srcset="img/acaunt-1.avif" type="image/avif">
                <source srcset="img/acaunt-1.webp" type="image/webp">
                <img loading="lazy" src="img/acaunt-1.png" class=" image"  alt="acaunt">
              </picture>
              <div class="reviews__inner">
                <span class="reviews__name">
                  Дмитрий
                </span>
                <span class="reviews__work">
                  Ремонтные работы по ул. 4-ая советская
                </span>
              </div>
            </div>
          </div>
          <div class="reviews__item">
            <p class="reviews__text">
              “We were looking for an agency that would help design and build the job platform of the future with us. Cut the Code
              was
              able to perfectly translate our needs into a digital experience that seamlessly aligns with the modern employer and
              jobseeker.”
            </p>
            <div class="reviews__acaunt">
              <picture>
                <source srcset="img/acaunt-2.avif" type="image/avif">
                <source srcset="img/acaunt-2.webp" type="image/webp">
                <img loading="lazy" src="img/acaunt-1.png" class="image" alt="acaunt">
              </picture>
              <div class="reviews__inner">
                <span class="reviews__name">
                  Виктор
                </span>
                <span class="reviews__work">
                  Комплексный ремонт дома “Северная жемчужина”
                </span>
              </div>
            </div>
          </div>
          <picture>
            <source srcset="img/row-2.avif" type="image/avif">
            <source srcset="img/row-2.webp" type="image/webp">
            <img loading="lazy" src="img/row-2.png" class="reviews__img image" alt="acaunt">
          </picture>
          
        </div>
        <div class="reviews__row reviews__row--two" >
          <picture>
            <source srcset="img/row-2.avif" type="image/avif">
            <source srcset="img/row-2.webp" type="image/webp">
            <img loading="lazy" src="img/row-2.png" class="reviews__img image" alt="acaunt">
          </picture>
          <div class="reviews__item">
            <p class="reviews__text">
              “We were looking for an agency that would help design and build the job platform of the future with us. Cut the Code was
              able to perfectly translate our needs into a digital experience that seamlessly aligns with the modern employer and
              jobseeker.”
            </p>
            <div class="reviews__acaunt">
              <picture>
                <source srcset="img/acaunt-3.avif" type="image/avif">
                <source srcset="img/acaunt-3.webp" type="image/webp">
                <img loading="lazy" src="img/acaunt-3.png" class="image" alt="acaunt">
              </picture>
              <div class="reviews__inner">
                <span class="reviews__name">
                  Виктория
                </span>
                <span class="reviews__work">
                  Дизайн интерьера Петровский квартал
                </span>
              </div>
            </div>
          </div>
          <div class="reviews__item">
            <p class="reviews__text">
              “We were looking for an agency that would help design and build the job platform of the future with us. Cut the Code was
              able to perfectly translate our needs into a digital experience”
            </p>
            <div class="reviews__acaunt">
              <picture>
                <source srcset="img/acaunt-4.avif" type="image/avif">
                <source srcset="img/acaunt-4.webp" type="image/webp">
                <img loading="lazy" src="img/acaunt-4.png" class="image" alt="acaunt">
              </picture>
              <div class="reviews__inner">
                <span class="reviews__name">
                  Светлана
                </span>
                <span class="reviews__work">
                  Дизайнерский ремонт ул. Львовская
                </span>
              </div>
            </div>
          </div>
          <picture>
            <source srcset="img/row-3.avif" type="image/avif">
            <source srcset="img/row-3.webp" type="image/webp">
            <img loading="lazy" src="img/row-3.png" class="reviews__img image" alt="acaunt">
          </picture>
        </div>
      </div>
      <div class="reviews__rows reviews__rows--two">
        <div class="reviews__row reviews__row--three" >
          <picture>
            <source srcset="img/row-1.avif" type="image/avif">
            <source srcset="img/row-1.webp" type="image/webp">
            <img loading="lazy" src="img/row-1.png" class="reviews__img image" alt="img">
          </picture>
          <div class="reviews__item">
            <p class="reviews__text">
              “We were looking for an agency that would help design and build the job platform of the future with us. Cut the
              Code was
              able to perfectly translate our needs into a digital experience that seamlessly aligns with the modern employer
              and
              jobseeker.”
            </p>
            <div class="reviews__acaunt">
              <picture>
                <source srcset="img/acaunt-1.avif" type="image/avif">
                <source srcset="img/acaunt-1.webp" type="image/webp">
                <img loading="lazy" src="img/acaunt-1.png" class=" image" alt="acaunt">
              </picture>
              <div class="reviews__inner">
                <span class="reviews__name">
                  Дмитрий
                </span>
                <span class="reviews__work">
                  Ремонтные работы по ул. 4-ая советская
                </span>
              </div>
            </div>
          </div>
          <div class="reviews__item">
            <p class="reviews__text">
              “We were looking for an agency that would help design and build the job platform of the future with us. Cut the
              Code
              was
              able to perfectly translate our needs into a digital experience that seamlessly aligns with the modern employer
              and
              jobseeker.”
            </p>
            <div class="reviews__acaunt">
              <picture>
                <source srcset="img/acaunt-2.avif" type="image/avif">
                <source srcset="img/acaunt-2.webp" type="image/webp">
                <img loading="lazy" src="img/acaunt-1.png" class="image" alt="acaunt">
              </picture>
              <div class="reviews__inner">
                <span class="reviews__name">
                  Виктор
                </span>
                <span class="reviews__work">
                  Комплексный ремонт дома “Северная жемчужина”
                </span>
              </div>
            </div>
          </div>
          <picture>
            <source srcset="img/row-2.avif" type="image/avif">
            <source srcset="img/row-2.webp" type="image/webp">
            <img loading="lazy" src="img/row-2.png" class="reviews__img image" alt="acaunt">
          </picture>
          <picture>
            <source srcset="img/row-1.avif" type="image/avif">
            <source srcset="img/row-1.webp" type="image/webp">
            <img loading="lazy" src="img/row-1.png" class="reviews__img image" alt="img">
          </picture>
          <picture>
            <source srcset="img/row-2.avif" type="image/avif">
            <source srcset="img/row-2.webp" type="image/webp">
            <img loading="lazy" src="img/row-2.png" class="reviews__img image" alt="acaunt">
          </picture>
        </div>
        <div class="reviews__row reviews__row--four" >
          <picture>
            <source srcset="img/row-2.avif" type="image/avif">
            <source srcset="img/row-2.webp" type="image/webp">
            <img loading="lazy" src="img/row-2.png" class="reviews__img image" alt="acaunt">
          </picture>
          <picture>
            <source srcset="img/row-3.avif" type="image/avif">
            <source srcset="img/row-3.webp" type="image/webp">
            <img loading="lazy" src="img/row-3.png" class="reviews__img image" alt="acaunt">
          </picture>
          <picture>
            <source srcset="img/row-2.avif" type="image/avif">
            <source srcset="img/row-2.webp" type="image/webp">
            <img loading="lazy" src="img/row-2.png" class="reviews__img image" alt="acaunt">
          </picture>
          <div class="reviews__item">
            <p class="reviews__text">
              “We were looking for an agency that would help design and build the job platform of the future with us. Cut the
              Code was
              able to perfectly translate our needs into a digital experience that seamlessly aligns with the modern employer
              and
              jobseeker.”
            </p>
            <div class="reviews__acaunt">
              <picture>
                <source srcset="img/acaunt-3.avif" type="image/avif">
                <source srcset="img/acaunt-3.webp" type="image/webp">
                <img loading="lazy" src="img/acaunt-3.png" class="image" alt="acaunt">
              </picture>
              <div class="reviews__inner">
                <span class="reviews__name">
                  Виктория
                </span>
                <span class="reviews__work">
                  Дизайн интерьера Петровский квартал
                </span>
              </div>
            </div>
          </div>
          <div class="reviews__item">
            <p class="reviews__text">
              “We were looking for an agency that would help design and build the job platform of the future with us. Cut the
              Code was
              able to perfectly translate our needs into a digital experience”
            </p>
            <div class="reviews__acaunt">
              <picture>
                <source srcset="img/acaunt-4.avif" type="image/avif">
                <source srcset="img/acaunt-4.webp" type="image/webp">
                <img loading="lazy" src="img/acaunt-4.png" class="image" alt="acaunt">
              </picture>
              <div class="reviews__inner">
                <span class="reviews__name">
                  Светлана
                </span>
                <span class="reviews__work">
                  Дизайнерский ремонт ул. Львовская
                </span>
              </div>
            </div>
          </div>
          <picture>
            <source srcset="img/row-3.avif" type="image/avif">
            <source srcset="img/row-3.webp" type="image/webp">
            <img loading="lazy" src="img/row-3.png" class="reviews__img image" alt="acaunt">
          </picture>
          <picture>
            <source srcset="img/row-2.avif" type="image/avif">
            <source srcset="img/row-2.webp" type="image/webp">
            <img loading="lazy" src="img/row-2.png" class="reviews__img image" alt="acaunt">
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
