<section class="see">
  <div class="container">
    <div class="see__content">
      <div class="see__box">
        <h2 class="see__title">
          Увидеть своими глазами?
        </h2>
        <span class="see__descr">
          Лучший вариант ответа на все ваши вопросы.
        </span>
        <p class="see__text">
          Вы можете посетить один из наших объектов на любом этапе ремонта и оценить, как будет проходить ваш будущий
          проект. Это
          отличная возможность углубиться в детали работ, изучить качество используемых материалов и методов, а также
          задать любые
          вопросы, на которые мы готовы дать подробные и наглядные ответы.
        </p>

        <a href="#" class="header__btns see__size" data-graph-path="modal">
          <div class="header__wrapper">
            <div class="header__icon-left">
              <svg class="header__svg">
                <use xlink:href="img/sprite.svg#arrow-black"></use>
              </svg>
            </div>
            <div class="header__btn">Попасть на осмотр</div>
            <div class="header__icon-right">
              <svg class="header__svg header__svg--right">
                <use xlink:href="img/sprite.svg#arrow-black"></use>
              </svg>
            </div>
          </div>
        </a>


      </div>
      <div class="see__map">
        <picture>
          <source srcset="img/map.avif" type="image/avif">
          <source srcset="img/map.webp" type="image/webp">
          <img loading="lazy" src="img/map.png" class="image" alt="map">
        </picture>
        <span class="see__map-text">Санкт-Петербург</span>
        <div class="see__point">
          <div class="see__ellips">
          </div>
          <a href="#" class="see__btns">
            <div class="see__overlay">
              <div class="see__btn">Петровский квартал</div>
              <div class="see__icon-right">
                <svg class="see__svg seer__svg--right">
                  <use xlink:href="img/sprite.svg#arrow-black"></use>
                </svg>
              </div>
            </div>
          </a>
        </div>
        <div class="see__point">
          <div class="see__ellips">
          </div>
          <a href="#" class="see__btns">
            <div class="see__overlay">
              <div class="see__btn">Львовская</div>
              <div class="see__icon-right">
                <svg class="see__svg seer__svg--right">
                  <use xlink:href="img/sprite.svg#arrow-black"></use>
                </svg>
              </div>
            </div>
          </a>
        </div>
        <div class="see__point">
          <div class="see__ellips">
          </div>
          <a href="#" class="see__btns see__btns--bot">
            <div class="see__overlay">
              <div class="see__btn">ЦДС Черная речка</div>
              <div class="see__icon-right">
                <svg class="see__svg seer__svg--right">
                  <use xlink:href="img/sprite.svg#arrow-black"></use>
                </svg>
              </div>
            </div>
          </a>
        </div>
        <div class="see__point">
          <div class="see__ellips">
          </div>
          <a href="#" class="see__btns see__btns--bot">
            <div class="see__overlay">
              <div class="see__btn">Комендантский пр.</div>
              <div class="see__icon-right">
                <svg class="see__svg seer__svg--right">
                  <use xlink:href="img/sprite.svg#arrow-black"></use>
                </svg>
              </div>
            </div>
          </a>
        </div>
        <div class="see__point">
          <div class="see__ellips">
          </div>
          <a href="#" class="see__btns see__btns--bot">
            <div class="see__overlay">
              <div class="see__btn">Севкабель ПОРТ</div>
              <div class="see__icon-right">
                <svg class="see__svg seer__svg--right">
                  <use xlink:href="img/sprite.svg#arrow-black"></use>
                </svg>
              </div>
            </div>
          </a>
        </div>
        <div class="see__point">
          <div class="see__ellips">
          </div>
          <a href="#" class="see__btns see__btns--right">
            <div class="see__overlay">
              <div class="see__btn">4-ая Советская</div>
              <div class="see__icon-right">
                <svg class="see__svg seer__svg--right">
                  <use xlink:href="img/sprite.svg#arrow-black"></use>
                </svg>
              </div>
            </div>
          </a>
        </div>
        <div class="see__point">
          <div class="see__ellips">
          </div>
          <a href="#" class="see__btns see__btns--right">
            <div class="see__overlay">
              <div class="see__btn">Свердловская наб.</div>
              <div class="see__icon-right">
                <svg class="see__svg seer__svg--right">
                  <use xlink:href="img/sprite.svg#arrow-black"></use>
                </svg>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="see__box">
        <h3 class="see__subtitle">
          Объекты в других городах:
        </h3>
        <ul class="see__list list-reset">
          <li class="see__item">
            <span class="see__text">Москва</span>
            <span class="see__text">Краснодар</span>
          </li>
          <li class="see__item">
            <span class="see__text">Самара</span>
            <span class="see__text">Сочи</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
