<section class="steps">
  <div class="container">
    <div class="steps__content">
      <div class="steps__inner">
        <h2 class="steps__title">
          Этапы ремонта
        </h2>
      </div>
      <div class="steps__inner">
        <div class="steps__item steps__item--active">
          <div class="steps__box">
            <h3 class="steps__subtitle steps__subtitle--active">
              Подготовка
            </h3>
            <button class="steps__btn btn-reset ">
              <img loading="lazy" src="img/arrow-white.svg" class="steps__svg steps__svg--active image" width="12" height="12" alt="arrow">
            </button>
          </div>
          <ul class="steps__list list-reset steps__list--active">
            <li class="steps__wrapper">
              <p class="steps__text">
                Встречаемся и обсуждаем процесс реализации дизайн-проекта
              </p>
            </li>
            <li class="steps__wrapper">
              <p class="steps__text">
                Запрашиваем от управляющей компании технические условия и регламент проведения ремонтных работ, начиная с инженерного
                проектирования
              </p>
            </li>
            <li class="steps__wrapper">
              <p class="steps__text">
                Прорабатываем инженерные системы и технологии
              </p>
            </li>
            <li class="steps__wrapper">
              <p class="steps__text">
                Составляем детальную смету работ и черновых материалов, утверждаем график работ
              </p>
            </li>
            <li class="steps__wrapper">
              <p class="steps__text">
                Формируем ведомость комплектации и график закупок чистовых материалов
              </p>
            </li>
            <li class="steps__wrapper">
              <p class="steps__text">
                Подписываем необходимые документы и назначаем руководителя проекта
              </p>
            </li>
            <li class="steps__wrapper">
              <p class="steps__text">
                Формируем списки пропусков на объект и организуем доставку черновых материалов, а также завоз оборудования
              </p>
            </li>
          </ul>
        </div>
        <div class="steps__item">
          <div class="steps__box">
            <h3 class="steps__subtitle">
              Черновые работы
            </h3>
            <button class="steps__btn btn-reset">
              <img loading="lazy" src="img/arrow-white.svg" class="steps__svg image" width="12" height="12" alt="arrow">
            </button>
          </div>
          <ul class="steps__list list-reset">
            <li class="steps__wrapper">
              <p class="steps__text">
                Встречаемся и обсуждаем процесс реализации дизайн-проекта
              </p>
            </li>
            <li class="steps__wrapper">
              <p class="steps__text">
                Запрашиваем от управляющей компании технические условия и регламент проведения ремонтных работ, начиная с
                инженерного
                проектирования
              </p>
            </li>
            <li class="steps__wrapper">
              <p class="steps__text">
                Прорабатываем инженерные системы и технологии
              </p>
            </li>
            <li class="steps__wrapper">
              <p class="steps__text">
                Составляем детальную смету работ и черновых материалов, утверждаем график работ
              </p>
            </li>
            <li class="steps__wrapper">
              <p class="steps__text">
                Формируем ведомость комплектации и график закупок чистовых материалов
              </p>
            </li>
            <li class="steps__wrapper">
              <p class="steps__text">
                Подписываем необходимые документы и назначаем руководителя проекта
              </p>
            </li>
            <li class="steps__wrapper">
              <p class="steps__text">
                Формируем списки пропусков на объект и организуем доставку черновых материалов, а также завоз оборудования
              </p>
            </li>
          </ul>
        </div>
        <div class="steps__item">
          <div class="steps__box">
            <h3 class="steps__subtitle">
              Чистовые работы
            </h3>
            <button class="steps__btn btn-reset">
              <img loading="lazy" src="img/arrow-white.svg" class="steps__svg image" width="12" height="12" alt="arrow">
            </button>
          </div>
          <ul class="steps__list list-reset">
            <li class="steps__wrapper">
              <p class="steps__text">
                Встречаемся и обсуждаем процесс реализации дизайн-проекта
              </p>
            </li>
            <li class="steps__wrapper">
              <p class="steps__text">
                Запрашиваем от управляющей компании технические условия и регламент проведения ремонтных работ, начиная с
                инженерного
                проектирования
              </p>
            </li>
            <li class="steps__wrapper">
              <p class="steps__text">
                Прорабатываем инженерные системы и технологии
              </p>
            </li>
            <li class="steps__wrapper">
              <p class="steps__text">
                Составляем детальную смету работ и черновых материалов, утверждаем график работ
              </p>
            </li>
            <li class="steps__wrapper">
              <p class="steps__text">
                Формируем ведомость комплектации и график закупок чистовых материалов
              </p>
            </li>
            <li class="steps__wrapper">
              <p class="steps__text">
                Подписываем необходимые документы и назначаем руководителя проекта
              </p>
            </li>
            <li class="steps__wrapper">
              <p class="steps__text">
                Формируем списки пропусков на объект и организуем доставку черновых материалов, а также завоз оборудования
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
