<div class="team">
  <div class="container">

    <div class="team__wrapper">
      <h2 class="team__title">
        Наша команда
      </h2>
      <div class="slider__animation sae tablet">
        <img loading="lazy" src="img/cursor.svg" class="slider__cursor image" width="16" height="19" alt="cursor">
        <svg class="slider__arrow" viewBox="0 0 51 8" id="arrow" xmlns="http://www.w3.org/2000/svg">
          <path d="M50.354 4.354a.5.5 0 000-.708L47.172.464a.5.5 0 10-.707.708L49.293 4l-2.828 2.828a.5.5 0 10.707.708l3.182-3.182zM0 4.5h50v-1H0v1z"></path>
        </svg>
      </div>
      <div class="swiper team__swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="team__content">
              <picture>
                <source srcset="img/team-1.avif" type="image/avif">
                <source srcset="img/team-1.webp" type="image/webp">
                <img loading="lazy" src="img/team-1.jpg" class="team__img image" alt="team">
              </picture>
              <span class="team__name">МАКСИМ ЧЕРНЫШОВ</span>
              <span class="team__position">руководитель компании</span>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="team__content">
              <picture>
                <source srcset="img/team-2.avif" type="image/avif">
                <source srcset="img/team-2.webp" type="image/webp">
                <img loading="lazy" src="img/team-2.jpg" class="team__img image" alt="team">
              </picture>
              <span class="team__name">РОМАН АШИХМИН</span>
              <span class="team__position">руководитель строительства</span>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="team__content">
              <picture>
                <source srcset="img/team-3.avif" type="image/avif">
                <source srcset="img/team-3.webp" type="image/webp">
                <img loading="lazy" src="img/team-3.jpg" class="team__img image" alt="team">
              </picture>
              <span class="team__name">МАКСИМ ЧЕРНЫШОВ</span>
              <span class="team__position">руководитель компании</span>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="team__content">
              <picture>
                <source srcset="img/team-4.avif" type="image/avif">
                <source srcset="img/team-4.webp" type="image/webp">
                <img loading="lazy" src="img/team-4.jpg" class="team__img image" alt="team">
              </picture>
              <span class="team__name">МАКСИМ ЧЕРНЫШОВ</span>
              <span class="team__position">руководитель компании</span>
            </div>
          </div>


        </div>
      </div>
    </div>

  </div>
</div>
